<!DOCTYPE html>
<html>
    <head>
        <title>ERROR <%= http_status %></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="center">
            <h1>ERROR <%= http_status %></h2>
            <h2><%= message %></h2>
        </div>
    </body>
</html>