<!DOCTYPE html>
<html>
    <head>
        <title><%= pageHeading %> | <%= siteName %></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="center">
            <h4>Are you sure you want to logout?</h2>
            <hr>
            <br>
            <form action="/logout" method="POST">
                <button type="submit">YES</button>
            </form>
        </div>
    </body>
</html>