<!DOCTYPE html>
<html>
    <head>
        <title><%= pageHeading %> | <%= siteName %></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="center">
            <h2>Register</h2>
            <hr>
            <br>
            <form action="/register" method="POST">
                <label for="name">username</label><br>
                <input type="text" name="username" id="username" placeholder="Enter username">
                <br>
                <label for="email">Email</label><br>
                <input type="email" name="email" id="email" placeholder="Enter Email">
                <br>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" placeholder="Type Password">
                <br>
                <button type="submit">REGISTER</button>
            </form>
        </div>
    </body>
</html>